* {
    font-size: 24px;
  }
  
  p {
    color: red;
  }

  .purpose {
    color: green;
  }

  h1 {
    background-color: blue;
    color: white;
  }

  h2 {
    background-color: green;
  }

  .myList {
    border: 1px solid red;
  }

  #cv {
    color: red;
    /* font-family: 'Gill Sans'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin-left: 15px;
    margin: 20px;
    padding: 20px 25px 30px 35px;
    padding: 10px 15px;
    padding: 10px 15px 25px;
    text-align: center;
    box-sizing: border-box;
  }

  .purpose {
    color: purple;
  }

  p {
    color: #525252;
    font-size: 18px;
    color: blue;
  }

  p.second {
    color: black;
  }

  .experienceText {
    color: brown;
  }

  form input {
    padding: 10px;
  }

  label, footer { 
    color: #7f0000;
    color: rgb(128, 0, 0, 0.5);
  }

  /*p.second => elementul care are tagul p si clasa second  */

  /* p.second.experienceTexte => elementul care are tagul p si clasa second si clasa experienceText */

  /* form input => se citeste de la dreapta la stanga, citim elementul input care are parintele form*/

  /* label, footer => se aplica proprietatile pt fiecare dintre selectorii specificati */

  