ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: #202020;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: lightblue;
}
header .mainSearch {
  display: flex;
  align-items: center;
}
header .mainSearch .logo {
  padding: 1rem;
  font-size: 3rem;
  color: royalblue;
}
header .mainSearch .logo:hover {
  color: darkblue;
}
header .searchInput {
  height: 3rem;
  border-radius: 1.5rem;
  padding: 0 1rem;
  border-color: beige;
}
header .searchInput:focus {
  border: 0.25rem solid teal;
}
header .mainNavigation .navigation li a {
  border-radius: 50%;
  background-color: aquamarine;
  margin: 0 0.35rem;
  display: flex;
}
header .mainNavigation .navigation li a:hover {
  background-color: teal;
  border: 1px solid royalblue;
}

.navIcons {
  font-size: 3rem;
  color: royalblue;
  margin: 0 0.5rem;
}
.navIcons:hover {
  color: white;
}
.navIcons .bellIcon {
  position: relative;
  display: block;
}

header .mainNavigation .navigation,
header .links {
  display: flex;
}

.bellIcon span {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  background-color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9rem;
}

nav.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 4.8rem;
  background: linear-gradient(0deg, #2b2b2b 0%, #2b2b2b 50%, #213b3a 75%, #3b6969 85%, #3d5858 100%);
}
nav.mainNav .profileInformations {
  width: 50%;
  justify-content: center;
  align-items: center;
}
nav.mainNav .profileInformations .backgroundImage {
  position: relative;
}
nav.mainNav .profileInformations .backgroundImage .edit {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-radius: 10px;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.7rem;
}
nav.mainNav .profileInformations .profile {
  margin-top: 5px;
}
nav.mainNav .profileInformations .profile .imageWrapper {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
nav.mainNav .profileInformations .profile .imageWrapper .profilePicture {
  position: absolute;
  border: 5px solid #2b2b2b;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  left: 2.5%;
  top: -25px;
  -o-object-fit: cover;
     object-fit: cover;
}
nav.mainNav .profileInformations .profile .imageWrapper .changeImage {
  position: absolute;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #494949;
  border-radius: 50%;
  bottom: 45px;
  right: 10px;
  cursor: pointer;
}
nav.mainNav .profileInformations .profile .imageWrapper .changeImage:hover {
  background-color: gray;
}
nav.mainNav .profileInformations .profile .informations {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 170px;
  justify-content: space-between;
  text-align: start;
  position: relative;
}
nav.mainNav .profileInformations .profile .informations .name {
  display: block;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
nav.mainNav .profileInformations .profile .informations .friend {
  display: block;
  color: #7c7a7a;
}
nav.mainNav .profileInformations .profile .informations .friendsImages {
  margin-top: 5px;
}
nav.mainNav .profileInformations .profile .informations .friendsImages .friends {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
nav.mainNav .profileInformations .profile .informations .profileButtons {
  position: absolute;
  right: 5px;
  bottom: 5px;
  flex: 4;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 5px;
}
nav.mainNav .profileInformations .profile .informations .profileButtons .storyButton,
nav.mainNav .profileInformations .profile .informations .profileButtons .editButton,
nav.mainNav .profileInformations .profile .informations .profileButtons .moreButton {
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
}
nav.mainNav .profileInformations .profile .informations .profileButtons .storyButton {
  background-color: #1877F2;
}
nav.mainNav .profileInformations .profile .informations .profileButtons .storyButton:hover {
  background-color: #2d82f1;
}
nav.mainNav .profileInformations .profile .informations .profileButtons .editButton,
nav.mainNav .profileInformations .profile .informations .profileButtons .moreButton {
  background-color: #494949;
}
nav.mainNav .profileInformations .profile .informations .profileButtons .editButton:hover,
nav.mainNav .profileInformations .profile .informations .profileButtons .moreButton:hover {
  background-color: #616161;
}
nav.mainNav .bg-image {
  height: 50vh;
  width: 100%;
  border-radius: 7px;
}

.customHr {
  margin-top: 25px;
  height: 1px;
  background-color: #494949;
  border: none;
}

main.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
main.content .feed {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  width: 65%;
  margin-top: 10px;
}
main.content .feed .leftContent {
  top: 0;
  width: 45%;
  height: 100%;
}
main.content .feed .leftContent .imgWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
main.content .feed .leftContent .imgWrapper .image {
  width: 30.5%;
  margin: 2%;
  border: 2px solid #1f1f1f;
  margin-right: 0;
  margin-bottom: 0;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main.content .feed .rightContent {
  width: 55%;
}
main.content .feed .rightContent p {
  font-weight: bold;
  color: white;
  text-align: center;
  height: 100%;
}

main.content div.feed aside.leftContent,
main.content div.feed aside.rightContent {
  display: flex;
  background-color: #3f3f3f;
  height: auto;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}/*# sourceMappingURL=profile.css.map */