.feature {
  border: 1px solid black;
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonImg {
  width: 5rem;
  border-radius: 0.2rem;
}
